<%- include("./includes/head") %>

    <section class="mx-auto">
        <a href="/">Go back to Home</a>
        <h1 class="title">Create Your Post Here</h1>
        <form action="/admin" method="post">

            <div>
                <label for="title">Enter Title</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div>
                <label for="description">Enter Description</label>
                <textarea name="description" id="description"></textarea>
            </div>
            <button>Add Post</button>

        </form>
    </section>

    <%- include("./includes/foot") %>