<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1 class="title">You are at the HOME PAGE</h1>
    <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore aut veritatis temporibus, reprehenderit mollitia
        reiciendis illum eius sit dolor minima qui architecto iste voluptas voluptatum, neque, corrupti nostrum quam.
        Corporis!</p>

    <a href="/admin/create">Add Post Here</a>
</body>

</html>