<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1 class="title">You are at the Post Page</h1>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam velit, facilis minima nesciunt nobis tenetur iste
        sint eos voluptas aspernatur molestias consectetur fuga sapiente reiciendis obcaecati ex iusto voluptate a!</p>
</body>

</html>