.title{
    text-align: center;
    color: rgb(0, 0, 0);
}
.description{
    text-align: center;
    color:  red;
}

a{
    display : block;
    margin: 10px 0;
    color: aliceblue;
    background-color: black;
    padding: 8px 10px;
    width: fit-content ;
    text-decoration: none;
    float: right;
}

label{
    display:block;
    font-size: 16px;
    margin-top: 10px;
}

input{
    font-size: 18px;
    padding: 4px 10px;
}

button{
    margin: 10px 0;
    color: aliceblue;
    background-color: black;
    padding: 8px 0;
    width: 100%  ;
}

.mx-auto{
    width: 40%;
    margin: auto auto;
}